*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #000;
  gap: 1rem;
  overflow: hidden; }

img {
  width: 100%; }

@media (min-width: 1250px) {
  body {
    width: 100vw; } }

body {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #ce9797; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.grid {
  display: grid; }

main {
  max-width: 375px;
  min-height: 100vh;
  background-image: linear-gradient(135deg, white, #fff5f5); }
  main .hero-img--desktop {
    display: none; }

.container {
  gap: 2rem; }

.logo {
  align-self: start;
  padding-inline: 2rem; }
  .logo img {
    display: block;
    width: 35%; }

.hero-img {
  padding-inline: 0; }
  .hero-img img {
    display: block; }

.section-content {
  padding: 2rem 2rem;
  gap: 1.5rem;
  text-align: center; }
  .section-content--heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 10px; }
    .section-content--heading span {
      font-weight: 600;
      color: #413a3a; }
  .section-content--para {
    line-height: 1.5;
    font-size: 0.875rem; }
  .section-content--email {
    margin-top: 1.5rem;
    width: 100%;
    position: relative;
    gap: 0.5rem;
    align-items: start; }
    .section-content--email-box {
      width: inherit;
      border-radius: 40px;
      padding: 1rem 1.5rem;
      background-color: transparent;
      border: none;
      border: 1px solid #ce9797;
      color: #413a3a; }
      .section-content--email-box:focus {
        outline: none;
        border: 1px solid #f96262; }
      .section-content--email-box::placeholder {
        color: #ce9797;
        font-weight: 300;
        opacity: 0.5; }
    .section-content--email-btns {
      position: absolute;
      right: -4px;
      top: 0;
      gap: 0.5rem; }
      .section-content--email-btns_errorImg {
        width: 18%;
        opacity: 0; }
      .section-content--email-btns_submit {
        cursor: pointer;
        background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
        border: none;
        padding: 0.82rem 1.7rem;
        border-radius: 30px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1); }
    .section-content--email-errormsg {
      color: #f96262;
      font-size: 0.8rem;
      padding-left: 1.5rem;
      opacity: 0; }

@media (min-width: 1250px) {
  main {
    min-width: 100vw;
    max-height: 100vh;
    padding: 0;
    background-image: none;
    flex: 1 1 0; }
    main .hero-img--desktop {
      display: block;
      min-height: 100vh;
      flex-grow: 1; }
      main .hero-img--desktop img {
        max-width: 100%;
        min-height: 100vh;
        display: block;
        object-fit: cover; }
  .container {
    background-image: url(../images/bg-pattern-desktop.svg), linear-gradient(135deg, white, #fff5f5);
    background-size: cover;
    background-repeat: no-repeat;
    width: min-content;
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
  .logo {
    grid-area: logo;
    padding-top: 5rem;
    padding-inline: 10rem;
    width: 100%; }
  .hero-img {
    display: none; }
  .section-content {
    grid-area: content;
    max-width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 8rem;
    padding-inline: 10rem; }
    .section-content--heading {
      font-size: 4rem;
      letter-spacing: 1.3rem; }
    .section-content--para {
      font-size: 1rem;
      letter-spacing: 1; }
    .section-content--email-box {
      padding: 1rem 1.5rem; }
      .section-content--email-box::placeholder {
        font-size: 1rem; }
    .section-content--email-btns_submit {
      padding: 0.82rem 1.7rem;
      border-radius: 50px; } }
