*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000;
  gap: 1rem;
  overflow: hidden;
}

img {
  width: 100%;
}

@media (min-width: 1250px) {
  body {
    width: 100vw;
  }
}
